/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */

/* a:hover {
  color: #535bf2;
} */

body {
  background-image: url("./assets/photo-1505682634904-d7c8d95cdc50.avif");
  background-size: cover;
}

h1 {
  font-size: 100px;
  font-weight: bolder;
  font-style: italic;
  color: white;

  text-align: center;
}
h2 {
  padding-top: 50px;
  text-align: center;
}
aside {
  font-style: italic;
  font-weight: 500;
  border-radius: 14px;
  background-color: transparent;
  border-style: double;
  box-shadow: 20px 20px 20px 20px antiquewhite;
  color: rgb(15, 139, 130);
  max-width: 750px;
  max-height: 350px;
  padding: 20px;
  margin-top: 80px;
  /* margin-left: 40px; */
  /* align-items: center; */
  text-align: center;
}

.bg-body-tertiary {
  font-size: 30px;
  max-width: 250px;


}

.resume {
  color: #421273;
}
.p-2 {
  border: #3a1c71;
  padding: 10px;
  margin: 10px;
  background-color: whitesmoke;
  color: #3a1c71;
  font-size: 25px;
  font-weight: 300;


}
/* .me-auto {
  align-items: center;
} */

.card {
  background: black;

  color: white;
  font-size: larger;
  /* align-items: center; */
  font-style: italic;
  font-weight: 500;
  border-radius: 14px;
  background-color: transparent;
  border-style: double;
  box-shadow: 20px 20px 20px 20px antiquewhite;
}
.card2 {
  background: black;
  margin-top: 80px;
  color: white;
  font-size: larger;
  align-items: center;
}

.mb-2 {
  font-size: 65px;
}

.cardtext{
  font-size: 25px;
}

p{
  font-size: 25px;
}
.links {
  font-size: 35px;
}

ul {
  font-size: 25px;
  margin-top: 40px;
  color: whitesmoke;
  border: solid;
  background-color: black;
  border-radius: 14px;
  padding: 5px;
}
.d-block {
  max-width: 740px;
  max-height: 640px;
  padding-top: 10px;
  margin: auto;
  border: whitesmoke;


}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
h5, figcaption {
  overflow: hidden;
  font-size: 30px;
  border: whitesmoke;
  background-color: grey;
  color: whitesmoke;
  border-radius: 14px;
  align-content: center;

}
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
